.fieldGame{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.buttonStart{

}

.field{

}

.question{
    margin: 20px;
    font-weight: bolder;
}

.answers{
    margin: 15px;

}